//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 13 01:05:57 2022
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "P123" LEVEL 1;
COMP "RST" LOCATE = SITE "P24" LEVEL 1;
COMP "BTN_RESTART" LOCATE = SITE "P48" LEVEL 1;
COMP "VSYNC" LOCATE = SITE "P17" LEVEL 1;
COMP "Player1_Button_L" LOCATE = SITE "P15" LEVEL 1;
COMP "Player1_Button_R" LOCATE = SITE "P12" LEVEL 1;
COMP "ISGAMESTART" LOCATE = SITE "P141" LEVEL 1;
COMP "Player2_Button_L" LOCATE = SITE "P10" LEVEL 1;
COMP "Player2_Button_R" LOCATE = SITE "P8" LEVEL 1;
COMP "RGB<0>" LOCATE = SITE "P5" LEVEL 1;
COMP "RGB<1>" LOCATE = SITE "P7" LEVEL 1;
COMP "RGB<2>" LOCATE = SITE "P9" LEVEL 1;
COMP "RGB<3>" LOCATE = SITE "P11" LEVEL 1;
COMP "RGB<4>" LOCATE = SITE "P14" LEVEL 1;
COMP "RGB<5>" LOCATE = SITE "P16" LEVEL 1;
COMP "RGB<6>" LOCATE = SITE "P21" LEVEL 1;
COMP "RGB<7>" LOCATE = SITE "P23" LEVEL 1;
COMP "outputScore1<0>" LOCATE = SITE "P138" LEVEL 1;
COMP "outputScore1<1>" LOCATE = SITE "P140" LEVEL 1;
COMP "outputScore1<2>" LOCATE = SITE "P142" LEVEL 1;
COMP "outputScore1<3>" LOCATE = SITE "P1" LEVEL 1;
COMP "outputScore2<0>" LOCATE = SITE "P124" LEVEL 1;
COMP "outputScore2<1>" LOCATE = SITE "P127" LEVEL 1;
COMP "outputScore2<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "outputScore2<3>" LOCATE = SITE "P134" LEVEL 1;
COMP "BUZZER" LOCATE = SITE "P83" LEVEL 1;
COMP "FORCESTOP" LOCATE = SITE "P2" LEVEL 1;
COMP "BTN_START" LOCATE = SITE "P47" LEVEL 1;
COMP "HSYNC" LOCATE = SITE "P22" LEVEL 1;
COMP "RESTART" LOCATE = SITE "P143" LEVEL 1;
SCHEMATIC END;

