NET "CLK" LOC = "P123";
NET "RST" LOC = "P24";
NET "HSYNC" LOC = "P22";
NET "VSYNC" LOC = "P17";
NET "RGB[7]" LOC = "P23";
NET "RGB[6]" LOC = "P21";
NET "RGB[5]" LOC = "P16";
NET "RGB[4]" LOC = "P14";
NET "RGB[3]" LOC = "P11";
NET "RGB[2]" LOC = "P9";
NET "RGB[1]" LOC = "P7";
NET "RGB[0]" LOC = "P5";

NET "Player1_Button_L" LOC = "P47";
NET "Player1_Button_R" LOC = "P48";
NET "LED_L" LOC = "P81";
NET "LED_R" LOC = "P82";
NET "LED_TEST" LOC = "P80";
NET "LED_TEST2" LOC = "P67";
NET "BUZZER" LOC = "P83";